

<div class="firstRow">

  <crem-dropdown [label]="label" [items]="listItems" [placeholder]="placeholder" [disabled]="disabled"></crem-dropdown>



  <crem-button [content]="content" [color]="color" [disabled]="disabled" [type]="type" [icon]="icon"></crem-button>

</div>

<mat-card class="datagrid">

  <crem-data-grid [pagesize]="pagesize"></crem-data-grid>

</mat-card>
<div class="metric">

  <crem-metric [title]="titlemetric" [sidekickColor]="sidekickColor" [subtitle]="subtitle" [tooltip]="tooltip" [heroMetric]="heroMetric" [sidekickMetric]="sidekickMetric"></crem-metric>



  <crem-metric [title]="titlemetric2" [subtitle]="subtitle" [tooltip]="tooltip2" [heroMetric]="heroMetric2"
    ></crem-metric>

</div>
