.dx-theme-generic-typography {
  background-color: #fff;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
  line-height: 1.35715;
  overflow: scroll;
}
mat-card{
  margin: 10px !important;
}
